@import '../../../consts/styles/colors';
@import '../../../consts/styles/utils';
@import '../../../consts/styles/sizes';

.content {
  display: flex;
  flex-direction: column;
  width: 60vw;

  .buttons {
    color: $color-main-white;
    display: flex;
    font-size: $font-paragraph;
    font-weight: 500;
    justify-content: flex-end;
    padding: 20px 0;
    width: calc(70% - 20px);
  }
}

.title {
  color: $color-main-white;
  font-size: $font-secondary-title;
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}

.taskBody {
  display: flex;
  flex-direction: row;
}

.taskDetails {
  @include content-box;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  padding: 0;
  transition: none;
  width: calc(70% - 20px);

  .mainTaskDetails {
    height: 100%;
    padding: 10px;
    width: 60%;

    .description {
      height: 150px;
      line-height: 1.3;
      width: 100%;
    }
  }

  .additionalTaskDetails {
    background: $color-gray-1;
    height: 100%;
    padding: 20px;
    width: 40%;
  }
}

.taskChatroom {
  height: 640px;
  position: relative;
  width: 30%;

  .historyChat {
    height: calc(640px - 70px);
    margin-bottom: 20px;
  }

  .messageInputArea {
    background: rgba(#000, .1);
    font-size: $font-paragraph;
    font-weight: 400;
  }
}
