@import '../../../consts/styles/colors';
@import '../../../consts/styles/utils';
@import '../../../consts/styles/sizes';

.content {
  display: flex;
  flex-direction: column;
  width: 60vw;

  .buttons {
    color: $color-main-white;
    display: flex;
    font-size: $font-paragraph;
    font-weight: 500;
    justify-content: flex-end;
    padding: 20px 0;
    width: 100%;
  }
}

.taskBody {
  display: flex;
  flex-direction: row;
}

.taskDetails {
  @include content-box;
  display: flex;
  flex-direction: row;
  min-width: 750px;
  padding: 0;
  transition: none;
  width: 70%;

  .mainTaskDetails {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    width: 60%;

    .title {
      color: $color-main-gray;
      font-size: $font-secondary-title;
      height: 50px;
      margin-bottom: 10px;
      overflow: hidden;
      width: 100%;
    }

    .description {
      height: 150px;
      line-height: 1.3;
      width: 100%;
    }
  }

  .additionalTaskDetails {
    background: $color-gray-1;
    height: 100%;
    padding: 20px;
    width: 40%;

    .actionButtons {
      display: flex;
      flex-direction: column;

      .deleteButton,
      .doneButton {
        margin-bottom: 20px;
      }

      .deleteButton {
        background: $color-red;
      }
    }

    .assignedUserIcon {
      color: $color-gray-3;
    }
  }
}

.taskChatroom {
  background: $color-main-gray;
  height: 640px;
  padding: 20px;
  position: relative;
  width: 30%;

  .chatMessageAuthor {
    color: $color-main-white !important;
  }

  .chatTitle {
    color: $color-main-white;
    font-size: $font-secondary-title;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
  }

  .historyChat {
    height: calc(640px - 70px);
    margin-bottom: 20px;
  }

  .messageInputArea {
    background: rgba(#000, .1);
    font-size: $font-paragraph;
    font-weight: 400;
  }

  .chatRoomBoiler {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
}
