@import '../../consts/styles/colors';
@import '../../consts/styles/shadows';
@import '../../consts/styles/sizes';
@import '../../consts/styles/utils';

.content {
  display: flex;
  height: 100%;
  padding: 20px;


  .chatRoom {
    @include content-box;
    @include content-box-splitted-left;
    @include shadow-depth-1;
    height: 100%;
    width: 75%;

    .chatContent {
      height: 100%;
      padding: 20px;
      width: 100%;

      .chatInput {
        @include input;
        color: $color-gray-4;
        font-size: $font-standard-heading;
        font-weight: 600;
      }
    }

    .chatMessageAuthor {
      color: $color-main-gray;
      font-weight: 600;

      :first-child {
        color: $color-gray-4;
        font-weight: 300;
      }
    }

    .chatMessageText {
      color: $color-main-gray;
    }
  }

  .chatSidebar {
    @include content-box;
    @include content-box-splitted-right;
    background: $color-main-gray;
    padding: 20px;
    width: 25%;

    .tabsMenu {
      border-bottom: 1px solid lighten($color-main-gray, 3%);
      color: $color-main-white;
      padding: 0;
    }

    .tabsSwitch {
      border-bottom: 3px solid transparent;
      padding-bottom: 17px;
    }

    .tabsActiveSwitch {
      border-color: $color-blue;
    }

    .tasksChatRoomsListLabel {
      color: $color-main-white;
    }
  }

}
