.content {
  display: flex;
  flex-direction: flex-start;
  height: 100%;
  overflow: auto;
  padding: 20px;
}

.board {
  height: 100% !important;
  max-width: 350px;
  min-width: 350px;
  padding-right: 20px;

  &:last-child {
    padding: 0;
  }
}
