.content {
  padding: 20px;
}


.infoContent {
  width: 75%;
}

.mainStatsContent,
.mainActivityContent {
  display: flex;
  margin-bottom: 20px;
}

@media all and (max-width: 1440px) {
  .infoContent {
    width: 100%;
  }
}
