@import '../../consts/styles/colors';

.content {
  display: flex;

  ul {
    display: flex;
    list-style: none;
    width: 100%;

    &.menuVertical {
      flex-direction: column;
    }

    &.menuHorizontal {
      flex-direction: row;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      color: $color-main-gray;
      display: flex;
      padding: 20px;
      width: 100%;

      &:hover {
        background: $color-gray-1;
      }

      &.activeListItem {
        background: $color-red;
        color: $color-main-white;
      }
    }

    li {
      color: inherit;
    }

    .listItemIcon {
      margin-right: 20px;
    }
  }
}

