@import '../../consts/styles/colors';

.content {
  display: flex;

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;

    &.menuVertical {
      flex-direction: column;
    }

    &.menuHorizontal {
      flex-direction: row;
    }
  }
}

