.content {
  display: grid;
  grid-template: 100px calc(100vh - 100px) / 320px calc(100vw - 320px);
  grid-template-areas:
    'sidebar navigation'
    'sidebar container';
}

.container {
  grid-area: container;
  padding: 20px;
}
