.content {
  display: grid;
  grid-template: 80px calc(100vh - 80px) / 320px calc(100vw - 320px);
  grid-template-areas:
    'sidebar navigation'
    'sidebar container';
}

.container {
  grid-area: container;
}
