$color-main-blue: #2856b6;
$color-main-gray: #223942;
$color-main-white: #fefefe;

$color-gray-1: #f3eff5;
$color-gray-2: #ece5ef;
$color-gray-3: #d4ced7;
$color-gray-4: #a5a0a7;
$color-gray-5: #817c83;

$color-blue: #97caf9;
$color-green: #58b77b;
$color-orange: #d9a744;
$color-red: #ef6262;
