$index-main-popup: 1100;
$index-always-on-top: 1000;
$index-fixed-element: 900;
$index-secondary-popup: 800;
$index-on-top: 700;
$index-on-bottom: 600;
$index-default: 500;
$index-as-background: -1;

$font-main-title: 32px;
$font-secondary-title: 24px;
$font-large-text: 21px;
$font-standard-heading: 18px;
$font-paragraph: 16px;
$font-subtitle: 13px;
