@import './animations';
@import './colors';
@import './shadows';
@import './sizes';


@mixin content-box($hovered: false) {
  @include shadow-depth-4;
  background: $color-main-white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  transition: all 0.2s ease;

  .title {
    color: $color-main-gray;
    font-size: $font-standard-heading;
    padding-bottom: 10px;
  }

  .paragraph {
    color: $color-gray-4;
    font-size: $font-paragraph;
    padding-top: 10px;
  }

  @if $hovered {
    &:hover {
      @include shadow-depth-5;
      cursor: pointer;
      transition: all 0.2s ease;
    }
  }
}

@mixin content-box-splitted-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@mixin content-box-splitted-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

@mixin board-box($color) {
  overflow: hidden;

  .title {
    align-items: center;
    background: $color-gray-2;
    display: flex;
    font-size: $font-secondary-title;
    font-weight: 500;
    justify-content: flex-start;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;

    .text {
      color: $color;
      height: 40px;
      overflow: hidden;
      padding: 7px 10px;
      padding-bottom: 0;
      width: 90%;
    }

    .titleIcon {
      color: $color;
      margin-right: 10px;
      padding: 10px;
      width: 10%;
    }
  }

  .tasks {
    height: 100%;
  }
}

@mixin button {
  border-radius: 2px;
  color: $color-main-white;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: $font-paragraph - 1;
  font-weight: 500;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  width: auto;

  &.flat {
    background: none;
  }

  &.raised {
    @include shadow-depth-2;
    background: $color-main-blue;
  }

  .onMouseDown {
    @include on-mouse-down;
    background: rgba(#000, 0.2);
    border-radius: 100%;
    bottom: -10%;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -10%;
    width: 50%;
    z-index: $index-on-top - 1;
  }

  .label {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 8px;
    width: 100%;
    z-index: $index-on-top;
  }
}

@mixin input {
  background: none;
  border: 0;
  border-bottom: 2px solid $color-gray-2;
  color: $color-main-gray;
  font-weight: 500;
  outline: none;
  padding: 8px 0;

  &:focus {
    border-color: $color-main-blue;
  }
}
