@import '../../../consts/styles/colors';
@import '../../../consts/styles/sizes';

.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  min-height: 50px;

  .authorAvatar {
    align-items: center;
    background: $color-gray-3;
    border-radius: 3px;
    color: $color-main-white !important;
    display: flex;
    font-size: $font-paragraph;
    height: 50px;
    justify-content: center;
    margin-right: 10px;
    width: 50px;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .authorDetails {
      display: flex;
      flex-direction: column;

      .postedDate {
        color: $color-gray-4;
        font-size: $font-subtitle;
        font-weight: 300;
      }

      .authorName {
        color: $color-main-gray;
        font-weight: 500;
      }
    }

    .message {
      font-weight: 300;
      line-height: 1.3;
    }
  }
}

