@import '../../../consts/styles/colors';
@import '../../../consts/styles/sizes';
@import '../../../consts/styles/utils';



.content {
  $board-color: $color-gray-4;

  &.red {
    $board-color: $color-red;
    @include board-box($board-color);
  }

  &.blue {
    $board-color: $color-blue;
    @include board-box($board-color);
  }

  &.green {
    $board-color: $color-green;
    @include board-box($board-color);
  }

  &.orange {
    $board-color: $color-orange;
    @include board-box($board-color);
  }

  @include board-box($board-color);
  height: 100%;
}
