@import '../consts/styles/utils';
@import '../consts/styles/colors';
@import '../consts/styles/sizes';

.container {
  align-items: center;
  background: $color-main-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  .content {
    @include content-box;
    @include shadow-depth-5;
    padding: 40px;
    width: 400px;

    .errorMessage {
      color: $color-red;
      font-size: $font-subtitle;
      margin-bottom: 5px;
    }
  }

  .backToLoginButton {
    margin-top: 20px;
  }

  .success {
    color: $color-gray-4;
  }
}
