@import '../consts/styles/colors';
@import '../consts/styles/shadows';
@import '../consts/styles/sizes';

.content {
  @include shadow-depth-2;
  align-items: center;
  background: linear-gradient(to right,  $color-main-blue ,  $color-red);
  display: flex;
  grid-area: navigation;
  height: 80px;
  padding: 20px;
  width: 100%;
}

.menu {
  color: $color-main-white;
  width: 100%;
}

.projectNameLabel {
  font-size: $font-paragraph;
  font-weight: 500;
  text-transform: uppercase;
}

.iconButton {
  cursor: pointer;
  margin-left: auto;
}
