@import '../../consts/styles/colors';

.input {
  background: none;
  border: 0;
  height: auto;
  margin: 0;
  outline: none;
  padding: 10px;
  resize: none;
  width: auto;
}

.focused {
  background: rgba(#000, .06);
}
