@import '../../../../consts/styles/utils';

.content {
  @include content-box(true);
  @include shadow-depth-1;
  border-left: 3px solid $color-main-blue;
  margin-bottom: 10px;

  &:hover {
    @include shadow-depth-2;
  }

  .title {
    padding: 0;
  }

  .paragraph {
    margin-bottom: 10px;
  }

  .category {
    background: $color-gray-2;
    border-radius: 3px;
    color: $color-main-white;
    font-size: $font-subtitle;
    font-weight: 600;
    padding: 4px;
    text-transform: uppercase;
    width: auto !important;
  }

  &.prior3 {
    border-color: $color-red;
  }

  &.prior2 {
    border-color: $color-orange
  }

  &.prior1 {
    border-color: $color-blue;
  }

  &.prior0 {
    border-color: $color-gray-3;
  }

  &.done {
    background: $color-green !important;
    border: 0;
    opacity: .6;

    .title {
      color: $color-main-white;
    }

    .paragraph {
      color: $color-main-white;
    }
  }
}
