@import '../../consts/styles/colors';
@import '../../consts/styles/sizes';
@import '../../consts/styles/shadows';

.content {
  align-items: center;
  background: $color-main-gray;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}

.userAvatar {
  align-items: center;
  background: $color-green;
  border-radius: 100%;
  display: flex;
  font-size: $font-large-text;
  height: 50px;
  justify-content: center;
  text-transform: uppercase;
  width: 50px;
  z-index: $index-on-top;
}

.user {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .userName {
    color: $color-main-white;
    font-size: $font-paragraph;
    font-weight: 500;
    margin-bottom: 5px;
    z-index: $index-on-top;
  }

  .userEmail {
    color: $color-gray-3;
    font-size: $font-subtitle;
  }
}
