@import '../../consts/styles/colors';
@import '../../consts/styles/sizes';

.content {
  align-items: center;
  background: $color-gray-4;
  display: flex;
  height: 80px;
  justify-content: space-around;
  overflow: hidden;
  padding: 20px;
  position: relative;

  .image {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM47l_-DHwDnLWlckbYs3nmTMiIDSenDlo6Xv92rRxyH1eNnn7');
    background-position: bottom left;
    background-size: cover;
    filter: blur(22px);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: $index-on-bottom;
  }

}

.userAvatar {
  align-items: center;
  background: $color-blue;
  border-radius: 100%;
  display: flex;
  font-size: $font-paragraph;
  height: 50px;
  justify-content: center;
  text-transform: uppercase;
  width: 50px;
  z-index: $index-on-top;
}

.userName {
  font-size: $font-standard-heading;
  z-index: $index-on-top;
}
