@import '../../consts/styles/colors';
@import '../../consts/styles/sizes';

.content {
  align-items: center;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM47l_-DHwDnLWlckbYs3nmTMiIDSenDlo6Xv92rRxyH1eNnn7) left bottom no-repeat;
  background-size: cover;
  display: flex;
  height: 80px;
  justify-content: space-around;
  padding: 20px;
}

.userAvatar {
  align-items: center;
  background: $color-blue;
  border-radius: 100%;
  display: flex;
  font-size: $font-paragraph;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.userName {
  font-size: $font-standard-heading;
}
