@import '../../consts/styles/sizes';

.buttonClassName {
  border-radius: 100%;
  bottom: 20px;
  font-size: $font-paragraph;
  height: 64px !important;
  position: fixed;
  right: 20px;
  width: 64px !important;
  z-index: $index-on-top;
}
